version 5.210.1
source https://www.nuget.org/api/v2

storage:none

nuget FSharp.Core redirects:force
nuget Newtonsoft.Json >= 11.0.2 lowest_matching:true
nuget Expecto
nuget Fable.Core ~> 3 framework: netstandard2.0
nuget Ionide.KeepAChangelog.Tasks copy_local: true
nuget Microsoft.SourceLink.GitHub copy_local: true

group tests
    # Get the tests from Thoth.Json repo so both project are in sync
    github thoth-org/Thoth.Json:main tests/Types.fs
    github thoth-org/Thoth.Json:main tests/Decoders.fs
    github thoth-org/Thoth.Json:main tests/Encoders.fs
    github thoth-org/Thoth.Json:main tests/ExtraCoders.fs
    github thoth-org/Thoth.Json:main tests/BackAndForth.fs
